<div class="row">
  <fieldset id="menu" class="row">
    <legend>
      <h4 style="margin-bottom: 18px">Activar-Inactivar Cajas</h4>
    </legend>
    <form id="formularioActualizacion" class="col s12">
      <div class="row">
        <div class="col s12 l12 m6" style="margin-bottom: 40px;">

          <div class="col s5">
            <div class="input-field" style="margin-left: 30px;">
              <p>
                <label>Empresas:</label>
              </p>
              <select name="empresas" class="browser-default" [(ngModel)]="empresaNit" required>
                <option value="" disabled selected>Seleccione la empresa</option>
                <option *ngFor="let emp of empresas" [value]="emp.empresas">{{emp.nombre }}</option>
              </select>
            </div>
          </div>
          <div class="col s2">
            <p>
              <label>Cedula:</label>
            </p>
            <input type="text">
          </div>
          <div class="input-field  form-group input-filter col s5 ">
            <p>
              <label>Estado:</label>
            </p>
            <select name="accion" id="accion" class="browser-default">
              <option value="activo">Activo</option>
              <option value="inactivo">Inactivo</option>
            </select>
          </div>
        </div>
        <div class="input-field form-group col s12 m6 l12">
          <button type="button" class="btn blue green"> <i class="material-icons">check</i></button>
        </div>
      </div>
    </form>

  </fieldset>
</div>
